body {
  background-image:  linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://images.squarespace-cdn.com/content/v1/55a68174e4b086a3c2acfe59/1585011545694-4UMOX6IOETZ2JGQ9ILPO/ke17ZwdGBToddI8pDm48kFEZtBsAzhmmtWEymZHjOHB7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z4YTzHvnKhyp6Da-NYroOW3ZGjoBKy3azqku80C789l0s0XaMNjCqAzRibjnE_wBlkRhSk88wR8kp6zCTCB9Ln6C11ku6tkiNYB3uZYVB2sfw/red-sombrero-background-compressed.jpeg?format=2500w');
  background-repeat:no-repeat;
  background-attachment:fixed;
  background-position:100% 100%;
  background-size:cover;
}
#app{
  display: flex;
  justify-content: center;
}